*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header section start here */
#header{
    background-color: #FFFFFF;
    border: 1px solid red;
}

nav{
    max-width: 1920px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 16px;
   
}
.link{
    margin: 0px 0 34px 0;
   
}
.link li{
    list-style: none;
}

.link li a{
    text-decoration: none;
     font-family: "Inter", sans-serif;
     color: #000000;
     float: left;
     padding: 10px;
}

.link li a:hover{
    background-color: #469165;
    border-radius: 5px;
}

.menu{
    display: flex;
    gap: 32px;
  
}

nav .logo{
    margin-left: 120px;
   
}

.btn .button{
    background-color: #469165;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    color: white;
    margin: 0 120px 24px 0;
    border: none;
  
}

.btn .button:hover{
   background-color: rgb(29, 206, 197);
}

/* header section ends here */

/* banner section starts here */


#banner{
    max-width: 1920px;
    background: url(imeages/hero-bg.png);
    width: 100%;
    height: 600px;
    display: flex;
    text-align: center;

}
#banner .banner_container{
        margin: 0 auto;
    }
    .btn .btn_0{
    margin-top: 120px;
    color: #469165;
    border-radius: 10px;
    width: 229px;
    height: 30px;
     font-family: "Inter", sans-serif;
}
.btn .btn_0:hover{
    background-color: rgb(33, 185, 211);
}
.banner_container .banner_disc{
    color: #F7F6F2;
    margin-top: 16px;
    margin-bottom: 32px;
}


.banner_btn .btn_1{
    background-color: #469165;
    width: 220px;
    height: 55px;
    border-radius: 5px;
    color: white;
    margin: 24px 16px 24px 0;
    border: none;
    font-weight: 600px;
}
.banner_btn .btn_1:hover{
    background-color: gray;
}
.banner_btn .btn_2{
   width: 220px;
    height: 55px;
    border-radius: 5px;
    color: rgb(48, 46, 46);
    margin: 24px 0px 24px 0;
    border: none;
    background-color: transparent;
    border: 1px solid gray;
    color: white;
    font-weight: 600px;
}
.banner_btn .btn_2:hover{
    background-color: gray;
}


/* banner section ends here */

/* stricture section starts here */

#stricture_sec{
    max-width: 1920px;
    width: 100%;
}

.stricture_container h1{
    text-align: center;
    margin-top: 10px;
    
}

.stricture_container p{
    text-align: center;
    color: #627382;
    margin-top: 16px;
    
}

.stricture_container {
    margin-top: 50px;
    max-width: 1920px;
    width: 100%;
   

}


.card_container{
    margin: 44px 120px 44px 120px;
    display: flex;
    justify-content: center;
    gap: 10px   ;
}
.card_container .card{
width: 322;
height: 300px;

padding: 24px;
text-align: center;
box-shadow: 1px 1px 2px 1px rgb(201, 198, 198);
}

.card img{
    background-color:#F95555;
    border-radius: 50%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 60px;
    
}

/* stricture section ends here */

/* brain sec starts here */
#brain_sec{
    max-width: 1920px;
    width: 100%;
}
.brain_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 120px 120px 120px;
    gap: 60px;
}

.brain_details{
    width: 700;
}

.brain_details p{
    color: #469165;
    margin-bottom: 16px;
}

.brain_details h3{
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.brain_details .tit{
    color: #627382;
    margin-bottom: 40px;
}

.list ul li{
    list-style-image: url("imeages/CheckCircle.png");
    margin-top: 16px;
    padding-right: 10px;
}
/* brain sec ends here */

/* ready sec starts here */
#ready_think{
max-width: 1920px;
width: 80%;
background-color: #F7F6F2;
margin: 0 auto;
}

#ready_think .ready_container{
    
    padding: 80px 40px 80px 40px;
    justify-content: center;
    align-items: center;
}

.ready_description h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
    margin-bottom: 16px;
}

.ready_description p{
    font-size: 16px;
    text-align: center;
    color: #627382;
    margin-bottom: 24px;
}

.ready_btn{
    max-width: 1920px;
    min-width: 80px;
    margin: 0 auto;
    text-align: center;
}

.ready_btn .ready_BTN{
    width: 194px;
    height: 52px;
    background-color: #469165;
    border-radius: 5px;
    color: white;
    margin-bottom: 16px;
    border: none;
}
.ready_btn .ready_BTN:hover{
    background-color: gray;
}
.ready_footer{
    max-width: 1920px;
    min-width: 80px;
    margin: 0 auto;
    text-align: center;
}

.ready_footer p{
    color: #627382;
}

/* ready sec ends here */

/* footer sec starts here */

#footer{
    max-width: 1920px;
    width: 100%;
    background-color: #1d3236;
    margin: 0 auto;
    text-align: center;
    padding: 120px 120px 84px 120px;
    margin-top: 120px;
}

#footer .footer_container{
    max-width: 1920px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 110px;
    
}

.social p{
    color: white;
    margin-bottom: 16px;
    text-align: center;
}

.social a{
    margin-right: 16px;
    background-color: white;
    margin-bottom: 80px;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
}

.solid_hrow{
    border: 1px solid rgb(49, 69, 65);
    margin-bottom: 30px;
}

.copyright p{
    color: white;
     font-family: "Inter", sans-serif;
}
/* footer sec ends here */